@model ProjetoSimpliss.viewModels.ContribuinteShowModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Contribuintes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegimeTributacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegimeTributacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeBeneficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBeneficio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
